    <header>
      <nav>
        <ul>
          <li class="home">
            <a href="/"><img src="assets/logo.svg" /></a>
          </li>
          <li class="contacts-link dropdown">
            <button class="dropdown-toggle">Аб фондзе</button>
            <ul class="dropdown-menu">
              <li><a href="./concept.html">Канцэпцыя</a></li>
              <li><a href="./legal.html">Статут</a></li>
              <li><a href="./reports.html">Справаздачы</a></li>
              <li><a href="./strategy.html">Стратэгія</a></li>
            </ul>
          </li>
          <li class="accent-link">
            <a href="{% if page.url == '/' %}#support{% else %}./index.html#support{% endif %}">Падтрымаць</a>
          </li>
          <li class="nav-hamburger-item">
            <button class="nav-hamburger" aria-label="Меню">
              <span></span><span></span><span></span>
            </button>
          </li>
        </ul>
      </nav>
    </header>
