<!doctype html>
<html lang="{{ page.lang | default: site.lang }}">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="assets/favicon.svg" />
    <link rel="stylesheet" href="assets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | default: site.title }}</title>
  </head>
  <body>
{% include header.html %}
    <main>
{{ content }}
    </main>
{% include footer.html %}
    <button class="scroll-top" aria-label="Наверх"></button>
    <script src="assets/main.js"></script>
  </body>
</html>
